subprojects/PYRAMID/pim/test_xsd2proto_fixtures/uci_fixture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Hand-written test fixture for pim/xsd2proto.py.  This is NOT a real UCI
     or A-GRA schema: it mirrors the documented UCI envelope discipline
     (element X of type XMT extending MessageType, MessageData of type XMDT)
     and exercises every row of the plan-D5 mapping table: extension
     composition, choice/oneof, repeated choice, repeated choice member,
     enums, scalar-alias simpleTypes with facets, optional/repeated labels,
     documentation carry-over, and the version-attribute rule.  Real drops
     are pinned by pim/schemas/schema_manifest.json and are never committed
     here. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:uci="urn:mujin:xsd2proto-fixture"
           targetNamespace="urn:mujin:xsd2proto-fixture"
           elementFormDefault="qualified">

  <xs:element name="TestCommand" type="uci:TestCommandMT"/>
  <xs:element name="TestCommandStatus" type="uci:TestCommandStatusMT"/>
  <!-- Deliberately outside the fixture profile: must not enter the closure. -->
  <xs:element name="TestReport" type="uci:TestReportMT"/>

  <xs:complexType name="MessageType">
    <xs:annotation>
      <xs:documentation>Common envelope carried by every message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SecurityInformation" type="uci:SecurityInformationType"/>
      <xs:element name="MessageHeader" type="uci:HeaderType"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" fixed="FIXTURE-1"/>
  </xs:complexType>

  <xs:complexType name="SecurityInformationType">
    <xs:sequence>
      <xs:element name="Classification" type="xs:string"/>
      <xs:element name="OwnerProducer" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="MissionID" type="uci:MissionID_Type" minOccurs="0"/>
      <xs:element name="SystemID" type="uci:SystemID_Type"/>
      <xs:element name="Timestamp" type="xs:dateTime"/>
      <xs:element name="SchemaVersion" type="xs:string"/>
      <xs:element name="Mode" type="uci:ModeEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REAL"/>
      <xs:enumeration value="SIMULATED"/>
      <xs:enumeration value="EXERCISE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SystemID_Type">
    <xs:sequence>
      <xs:element name="UUID" type="uci:UUIDType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MissionID_Type">
    <xs:sequence>
      <xs:element name="UUID" type="uci:UUIDType"/>
      <xs:element name="DescriptiveLabel" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TestCommandMT">
    <xs:complexContent>
      <xs:extension base="uci:MessageType">
        <xs:sequence>
          <xs:element name="MessageData" type="uci:TestCommandMDT"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestCommandMDT">
    <xs:annotation>
      <xs:documentation>Command payload.  The choice mirrors UCI's
        by-reference/by-value addressing idiom; Target exercises the
        repeated-choice wrapper rule.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CommandID" type="uci:SystemID_Type"/>
      <xs:choice>
        <xs:element name="ByLabel" type="xs:string"/>
        <xs:element name="ByNumber" type="xs:int"/>
        <xs:element name="ByWaypoint" type="xs:string" maxOccurs="unbounded"/>
      </xs:choice>
      <xs:element name="Target" type="uci:TargetType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Priority" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TargetType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="AreaID" type="uci:SystemID_Type"/>
      <xs:element name="PointLabel" type="xs:string"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="TestCommandStatusMT">
    <xs:complexContent>
      <xs:extension base="uci:MessageType">
        <xs:sequence>
          <xs:element name="MessageData" type="uci:TestCommandStatusMDT"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TestCommandStatusMDT">
    <xs:sequence>
      <xs:element name="CommandID" type="uci:SystemID_Type"/>
      <xs:element name="CommandProcessingState" type="uci:ProcessingStateEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ProcessingStateEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RECEIVED"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="REJECTED"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Outside the profile closure: references OrphanType, which must also
       stay out. -->
  <xs:complexType name="TestReportMT">
    <xs:complexContent>
      <xs:extension base="uci:MessageType">
        <xs:sequence>
          <xs:element name="Orphan" type="uci:OrphanType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrphanType">
    <xs:sequence>
      <xs:element name="Ignored" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
